.address--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 232px;
    margin-bottom: 45px;

    @media screen and (min-width: $mobile) {
        margin-bottom: 60px;
    }

    @media screen and (min-width: $desktop) {
        align-items: flex-start;
        margin-right: 70px;
        margin-bottom: 0;
    }
}

.address {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    @media screen and (min-width: $desktop) {
        align-items: flex-start;
    }
}

.address__text {
    text-align: center;
    width: 100%;
    margin-bottom: 8px;
    color: $footer-main-color;

    @media screen and (min-width: $desktop) {
        text-align: start;
    }
}

.address__list {
    @extend %list;
}

.address__item {
    &:nth-child(1) {
        margin-bottom: 8px;
    }
}

.address__link {
    color: rgba(255, 255, 255, 0.6);
    @include transition-color;
}