/* чекбокс */
.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;

    @media screen and (min-width: $mobile) {
        margin-bottom: 30px;
    }
}

.checkbox__input:checked+.checkbox__label {
    span {
        background-color: $link-active-color;
        border: 0;
    }
}

.checkbox__input:checked+.checkbox__label {
    .checkbox__icon {
        fill: $checkbox-icon-color;
    }
}

.checkbox__label {
    display: inline-block;
    text-align: center;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $description-color;

    @media screen and (min-width: $mobile) {
        display: flex;
        align-items: center;
        font-size: 12px;
        line-height: 1.17;
    }

    @media screen and (min-width: $desktop) {
        font-size: 14px;
        line-height: 1.71;
    }

    span {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 16px;
        height: 15px;
        @include checkbox-border;
        border-radius: 2px;
        margin-right: 7px;
    }
}

.checkbox__icon {
    fill: transparent;
}

.checkbox__link {
    display: inline-block;
    text-align: center;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $link-active-color;

    @media screen and (min-width: $mobile) {
        display: flex;
        font-size: 12px;
        line-height: 1.17;
    }

    @media screen and (min-width: $desktop) {
        font-size: 14px;
        line-height: 1.71;
    }
}