/* КЛИЕНТЫ */
.clients {
    background-color: inherit;
    padding: 45px 0;

    @media screen and (min-width: $mobile) {
        padding: 60px 0;
    }

    @media screen and (min-width: $desktop) {
        padding: 94px 0;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.clients__heading {
    font-weight: inherit;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: $heading-color;
    margin-bottom: 30px;

    @media screen and (min-width: $desktop) {
        font-size: 36px;
        line-height: 1.16;
        margin-bottom: 50px;
    }
}

.clients__list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.clients__item {
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    flex-basis: calc((100% - 30px) / 2);

    @media screen and (min-width: $tablet) {
        flex-basis: calc((100% - 60px) / 3);
    }

    @media screen and (min-width: $desktop) {
        flex-basis: calc((100% - 150px) / 6);
    }
}

.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 10px 0;
    color: $clients-main-color;
    border: 1px solid $clients-main-color;
    border-radius: 4px;
    transition: color, border, 250ms $timing-function;

    &:hover,
    &:focus {
        border: 1px solid $link-active-color;
        color: $link-active-color;
        outline: transparent;
    }

    @media screen and (min-width: $mobile) {
        padding: 15px 0;
    }

    @media screen and (min-width: $desktop) {
        padding: 15px 31px;
    }
}

/* цвет иконок клиентов*/
.clients__icon {
    display: block;
    fill: currentColor;
}