.logo {
    display: block;
    // width: 145px;
    font-family: $logo-font-family;
    font-weight: inherit;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;

    @media screen and (min-width: $desktop) {
        font-size: 26px;
        line-height: 1.19;
    }
}

.logo--first-part {
    color: $accent-color;
}