/* БЛОК С ФОРМОЙ ДЛЯ ПОДПИСКИ */
.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @media screen and (min-width: $mobile) {
        width: 450px;
    }

    @media screen and (min-width: $desktop) {
        align-items: flex-start;
        width: 570px;
        padding-top: 12px;
    }
}

.subscribe__title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $footer-main-color;
    margin-bottom: 20px;
}

.subscribe__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    @media screen and (min-width: $desktop) {
        flex-direction: row;
    }
}

.subscribe__input {
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 15px 16px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;
    @include subscribe-border;
    border-radius: 4px;
    outline: transparent;

    @media screen and (min-width: $desktop) {
        width: 358px;
        margin-bottom: 0;
        margin-right: 12px;
    }

    &::placeholder {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }
}

.subscribe__btn {
    @extend %btn;
    padding: 10px 26px;
    text-align: left;
    background-image: url(../images/send.svg);
    background-repeat: no-repeat;
    background-position: right 28px center;
}