// colors
$body-color: #212121;
$header-logo-color: #000;
$header-contacts-color: #757575;
$header-border-color: #ececec;
$main-color: #fff;
$heading-color: #212121;
$hero-heading-color: #fff;
$hero-back-color: #2f303a;
$benefits-image-color: #f5f4fa;
$team-back-color: #f5f4fa;
$team-subtitle-color: #afb1b8;
$card-title-color: #212121;
$description-color: #757575;
$accent-color: #2196f3;
$link-active-color: #2196f3;
$button-back-color: #2196f3;
$button-color: #fff;
$button-active-color: #188ce8;
$clients-main-color: #afb1b8;
$radio-back-color: #f5f4fa;
$radio-color: #212121;
$card-description-color: #fff;
$card-border-color: #eee;
$footer-back-color: #2f303a;
$footer-main-color: #fff;
$modal-color: #fff;
$modal-label-color: #757575;
$checkbox-icon-color: #fff;
$checkbox-border-color: #212121;

// fonts
$main-font: 'Roboto', 'Tahoma', 'Verdana', sans-serif;
$logo-font-family: 'Raleway', 'Verdana', sans-serif;

// transition
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);